# 파이썬 내장함수
* 용도
    - 데이터 전처리
        * 데이터 정제
        * 데이터 분류, 정리
        * 시각화
        * DB화
    - 결과 후처리
        * 시각화
        * 데이터 통합

In [1]:
# 수학연산
# 내장함수 abs: 절대값 표현 - 음수를 양수로 변환
a=abs(4)
b=abs(-3)
c=abs(0)
print(a,b,c)

4 3 0

In [10]:
# chr 유니코드 -> 문자
# 파이썬 폰트 체계 utf-8 byte 128자 a~zA~Z0~9기타특수문자 
# 한글 체계 : 초,중,종  조합형 ㄱ~ㅎㅏ~ㅣㄱ~ㅎ 완성형 ㄱ~힣
# utf-8 !!!!
print(chr(97),chr(44032))

a 가

In [16]:
# 최대값 max()
a=[1,7,2,4,6,11,5] # 리스트도 됨
b=(1,7,2,4,6,11,5) # 튜플도 됨
c={1:'서울',6:'도쿄',3:'뉴욕'} # 키값으로 처리
print(max(2,3,7,1,2)) # 직접 표현도 됨 
print(max(a),'|', max(2,3,7,1,2),'|',max(b),'|',max(c))

7
11 | 7 | 11 | 6

In [18]:
# 최대값 문자열
# 앞글자의 순서에 기반
a=['ㄱ','ㄷ','ㅎ','a','ㅡ','ㄴ','z'] # 음
b=('각','나라','마다는','호텔','을','有','ham') # 단어 한자 영어 
c=['ㄱ','가','값'] # ㄱ 기반
print(max(a),'|',max(b),'|',max(c))

ㅡ | 호텔 | 값

In [25]:
# ord : 문자->ascii  코드로 바꿔줌
print(ord('호'),ord('有'),ord('h'))

54840 26377 104

In [29]:
# 최소값 min()
a=[7,2,4,6,11,5] # 리스트도 됨
b=(7,3,4,6,11,5) # 튜플도 됨
c={9:'서울',6:'도쿄',11:'뉴욕'} # 키값으로 처리
print(min(2,3,7,1,2)) # 직접 표현도 됨 
print(min(a),'|',min(b),'|',min(c))

1
2 | 3 | 6

In [34]:
# pow(x,n) 거듭 제곱 n 제곱 x의 n 제곱
 # 2*2*2
    # 음수 제곱
    # 분수 제곱근
print(pow(2,3),pow(2,-1),pow(2,-2),pow(2,0),pow(2,0.5),pow(2,1/3))

8 0.5 0.25 1 1.4142135623730951 1.2599210498948732

In [43]:
# 소수점 처리 반올림 round
a= pow(2,0.5)
a=1.456
ra=round(a)
print(a,'round(a):',round(a))
print(a,'round(a):',round(a,1))
print(a,'round(a):',round(a,2))
print(a,'round(a):',round(a,3))

1.456 round(a): 1
1.456 round(a): 1.5
1.456 round(a): 1.46
1.456 round(a): 1.456

In [47]:
# 몫 나머지 연산 divmod()
dm=divmod(13,6) # 몫과 나머지로 나옴
a=13//6
b=13%6
print(dm,a,b)

(2, 1) 2 1

In [52]:
# 참고 math 라이브러리
# 올림, 내림
import math
a=math.ceil(1.456)
b=math.floor(1.456)
print(a,b)

2 1

In [53]:
floor(1.456)

NameError: name 'floor' is not defined

In [59]:
# 문자열 연산
a = '안녕하세요'
# 문자열 인덱스 접근
# - 음수는 뒤에서부터의 순서
print(a,a[0],a[1],a[-1],a[-2])

안녕하세요 안 녕 요 세

In [63]:
# 문자열 슬라이스
a = '안녕하세요 여러분 반갑습니다.'
print(a[1:3]) # 마지막 인덱스는 안들어간다
print(a[1:]) # 생략됬으면 끝까지 간다
print(a[:3]) # 생략됬으면 끝까지 간다

녕하
녕하세요 여러분 반갑습니다.
안녕하

In [64]:
b=[1,2,3,4,5,6,7]
b[2:5]

[3, 4, 5]

In [65]:
a='안녕하세요'
for i in a:
    print(i)

안
녕
하
세
요

In [66]:
# 글자의 길이 len
len(a)

5

In [68]:
# 문자열 합치기 +
b=a+' 여러분'
b

'안녕하세요 여러분'

In [71]:
# 문자열 반복 *
'안녕~'*3

'안녕~안녕~안녕~'

In [74]:
# 쌍 홑 따옴표
print("'안녕' 이라고 말합니다.")
print('"안녕" 이라고 말합니다.')

'안녕' 이라고 말합니다.
"안녕" 이라고 말합니다.

In [75]:
print('"안녕' 이라고 말합니다.') # 짝이 맞아야한다

SyntaxError: invalid syntax (<ipython-input-75-248d4a1bb5fc>, line 1)

In [76]:
# 이스케이프 문자열 사용
print("\"안녕\" 이라고 말합니다.")

"안녕" 이라고 말합니다.

In [78]:
# 이스케이프 문자열 사용
print('\'안녕\' 이라고 말합니다.')

'안녕' 이라고 말합니다.

In [79]:
# 문자열 검색
a='\'안녕\' 이라고 말합니다.'
a.find('이')

5

In [80]:
# 없으면 -1
a='\'안녕\' 이라고 말합니다.'
a.find('학')

-1

In [86]:
a='한국:서울 일본:도쿄 미국:뉴욕 중국:베이징'
b=a.split() # 기준 문자열이 없으면 띄어쓰기 기반으로 분해
print(b)
city={}
for bb in b:
    cc=bb.split(':')  # 특정 문자열 기반으로 분해
    city[cc[0]]=cc[1]
    print(cc)

['한국:서울', '일본:도쿄', '미국:뉴욕', '중국:베이징']
['한국', '서울']
['일본', '도쿄']
['미국', '뉴욕']
['중국', '베이징']

In [87]:
city

{'한국': '서울', '일본': '도쿄', '미국': '뉴욕', '중국': '베이징'}

In [88]:
# strip 빈칸제거
a='   안녕 ~   '
print(a*3)

   안녕 ~      안녕 ~      안녕 ~

In [89]:
# 좌우측 공백제거
print(a.strip()*3)

안녕 ~안녕 ~안녕 ~

In [90]:
# 좌측 공백 제거
print(a.lstrip()*3)

안녕 ~   안녕 ~   안녕 ~

In [91]:
# 우측 공백 제거
print(a.rstrip()*3)

   안녕 ~   안녕 ~   안녕 ~

In [94]:
a='000 123 00 45 0 67 000'
print(a.strip('0')) # 좌우 특정문자  제거

 123 00 45 0 67

In [95]:
print(a.lstrip('0')) # 좌 특정문자  제거

 123 00 45 0 67 000

In [96]:
print(a.rstrip('0')) # 우 특정문자  제거

000 123 00 45 0 67

In [99]:
print(a.strip('0 17')) # 좌우 특정문자들  제거

23 00 45 0 6

In [100]:
print(a.lstrip('0 17')) # 좌 특정문자들  제거

23 00 45 0 67 000

In [101]:
print(a.rstrip('0 17')) # 우 특정문자들  제거

000 123 00 45 0 6

In [104]:
# 문자열 치환 replace
a.replace('0','')

' 123  45  67 '

In [105]:
a.replace('0 ','')# strip 처럼 일일이 바꾸지 않고 덩어리로 바꿈

'00123 045 67 000'

In [106]:
# 대문자로 바꾸기
a='Hello World'
a.upper()

'HELLO WORLD'

In [107]:
# 소문자로 바꾸기
a='Hello World'
a.lower()

'hello world'

In [109]:
# 문자열 입력받기
x=input()
print(len(x))

 123

3

In [110]:
# 문자열 포함여부 in
'녕' in '안녕하세요'

True

In [113]:
# 리스트 포함 여부
9 in [1,2,3,]

False

In [114]:
'학' in '안녕하세요'

False

In [115]:
'안녕하세요'.find('녕')>=0

True

In [116]:
# 형변환
a='1'
b=2
a+b # 다른 형끼리 연산 불가

TypeError: can only concatenate str (not "int") to str

In [118]:
# 문자열을 정수변환
int(a)+b

3

In [119]:
a+str(b)

'12'

In [120]:
a='안녕하세요'
print(a)

안녕하세요

In [121]:
# 문자열의 리스트화
list(a)

['안', '녕', '하', '세', '요']

In [125]:
a='안녕하세요'
res=''
for i in a:
    res=res+i+'|'
res

'안|녕|하|세|요|'

In [126]:
# 리스트의 문자열화
la=list(a)
'|'.join(la)

'안|녕|하|세|요'

In [1]:
# 애국가에서 (~절) (후렴) 제거하고 중복해서 나오는 단어와 
# 중복횟수를 딕셔너리로 만들어서 많이 나온 순서대로 정렬하시오
sing="""
(1절)
동해물과 백두산이 마르고 닳도록
하느님이 보우하사 우리나라만세
(후렴)무궁화 삼천리 화려강산 대한사람 대한으로 길이 보전하세

(2절)
남산위에 저 소나무 철갑을 두른듯
바람서리 불변함은 우리기상 일세
(후렴)무궁화 삼천리 화려강산 대한사람 대한으로 길이보전하세

(3절)
가을하늘 공활한데 높고 구름없이 
밝은달은 우리가슴 일편단심일세
(후렴)무궁화 삼천리 화려강산 대한사람 대한으로 길이보전하세

(4절)
이 기상과 이 맘으로 충성을 다하여
괴로우나 즐거우나 나라사랑하세
(후렴)무궁화 삼천리 화려강산 대한사람 대한으로 길이보전하세
"""
len(sing)

306

* 말의 단위
    * 음운<음절≦형태소≦단어≦어절<문장
    * 음운 : 말의 뜻을 구별해 주는 소리의 가장 작은 단위
    * 음절 : 한 번에 발음할 수 있는 말소리의 가장 작은 단위
    * 형태소 : 뜻을 가진 가장 작은 말의 단위
    * 단어 :  문장 안에서 홀로 쓰일 수 있는 말 또는 그 말 뒤에 붙어 쓰이지만 쉽게 분리되는 말
    * 어절 : 문장 성분의 최소 단위
    * 문장 : 생각이나 감정을 완결된 내용으로 표현하는 최소 단위

In [24]:
src=sing.strip()

In [25]:
src=src.replace('(후렴)','')
for i in range(1,5):
    src=src.replace('('+str(i)+'절)','')
src=src.replace('\n',' ').strip()
wordlist=['동해','백두','우리','나라','만세','화려','길이'
         ,'대한','남산','바람','서리','기상','가을','보전'
         ,'공활','구름','밝은','가슴','일편','단심','사랑']
for w in wordlist:
    src=src.replace(w, w+' ')
    
print(src)
slist=src.split()

동해 물과 백두 산이 마르고 닳도록 하느님이 보우하사 우리 나라 만세  무궁화 삼천리 화려 강산 대한 사람 대한 으로 길이  보전 하세   남산 위에 저 소나무 철갑을 두른듯 바람 서리  불변함은 우리 기상  일세 무궁화 삼천리 화려 강산 대한 사람 대한 으로 길이 보전 하세   가을 하늘 공활 한데 높고 구름 없이  밝은 달은 우리 가슴  일편 단심 일세 무궁화 삼천리 화려 강산 대한 사람 대한 으로 길이 보전 하세   이 기상 과 이 맘으로 충성을 다하여 괴로우나 즐거우나 나라 사랑 하세 무궁화 삼천리 화려 강산 대한 사람 대한 으로 길이 보전 하세

In [21]:
d={'한국': '서울','일본':'도쿄'}
print(d.keys(),d.values())
'한국' in d

dict_keys(['한국', '일본']) dict_values(['서울', '도쿄'])

True

In [29]:
# tts text to speech 
res={}
for s in slist:
    if s in res:
        res[s]+=1
    else:
        res[s]=1
res

{'동해': 1,
 '물과': 1,
 '백두': 1,
 '산이': 1,
 '마르고': 1,
 '닳도록': 1,
 '하느님이': 1,
 '보우하사': 1,
 '우리': 3,
 '나라': 2,
 '만세': 1,
 '무궁화': 4,
 '삼천리': 4,
 '화려': 4,
 '강산': 4,
 '대한': 8,
 '사람': 4,
 '으로': 4,
 '길이': 4,
 '보전': 4,
 '하세': 5,
 '남산': 1,
 '위에': 1,
 '저': 1,
 '소나무': 1,
 '철갑을': 1,
 '두른듯': 1,
 '바람': 1,
 '서리': 1,
 '불변함은': 1,
 '기상': 2,
 '일세': 2,
 '가을': 1,
 '하늘': 1,
 '공활': 1,
 '한데': 1,
 '높고': 1,
 '구름': 1,
 '없이': 1,
 '밝은': 1,
 '달은': 1,
 '가슴': 1,
 '일편': 1,
 '단심': 1,
 '이': 2,
 '과': 1,
 '맘으로': 1,
 '충성을': 1,
 '다하여': 1,
 '괴로우나': 1,
 '즐거우나': 1,
 '사랑': 1}

In [40]:
# res sort 비중복제거
fres={}
for k,v in res.items():
    if(v>1):
        fres[k]=v
fres

{'우리': 3,
 '나라': 2,
 '무궁화': 4,
 '삼천리': 4,
 '화려': 4,
 '강산': 4,
 '대한': 8,
 '사람': 4,
 '으로': 4,
 '길이': 4,
 '보전': 4,
 '하세': 5,
 '기상': 2,
 '일세': 2,
 '이': 2}

['우리', '나라', '무궁화', '삼천리', '화려', '강산', '대한', '사람', '으로', '길이', '보전', '하세', '기상', '일세', '이'] [3, 2, 4, 4, 4, 4, 8, 4, 4, 4, 4, 5, 2, 2, 2]

In [47]:
def selectMax(fres={},sortd={}):
    fv=list(fres.values())
    fk=list(fres.keys())
    #print(fk,fv)
    mx=max(fv)
    i=0
    otherd={}
    for v in fv:
        if mx==v:
            print(fk[i])
            sortd[fk[i]]=v
        else:
            otherd[fk[i]]=v
        i+=1
    return (sortd,otherd)
selectMax(fres)

대한

({}, {})