# 데이터 분석을 위한 패키지
* numpy
    - numpy.array

In [1]:
import numpy as np
li = [1, '2', 3, 4, 5]
print(li, type(li))

[1, '2', 3, 4, 5] <class 'list'>

In [2]:
for i in li:
    print(i * 2)

2
22
6
8
10

In [3]:
# 동일 자료형으로 된 배열로 바꿔줌
nli = np.array(li)
print('data :', nli, '\ntype :', type(nli),'\ndata type :', nli.dtype)

data : ['1' '2' '3' '4' '5']
type : <class 'numpy.ndarray'>
data type : <U11

In [4]:
def showData(src = None):
    print('data :\n', src,
          '\ntype :', type(src),         # 배열의 타입을 알려줌
          '\ndata type :', src.dtype,    # 배열의 데이터 타입을 알려줌
          '\ndata shape :', src.shape)   # 배열의 형태를 알려줌
    print('-' * 50)

In [5]:
idata = [1, 2, 3, 4, 5]
fdata = [1.0, 2, 3, 4, 5]
sdata = [1, '2', 3, 4, 5]
nidata = np.array(idata)
nfdata = np.array(fdata)
nsdata = np.array(sdata)
showData(nidata)
showData(nfdata)
showData(nsdata)

data :
 [1 2 3 4 5]
type : <class 'numpy.ndarray'>
data type : int32
data shape : (5,)
--------------------------------------------------
data :
 [1. 2. 3. 4. 5.]
type : <class 'numpy.ndarray'>
data type : float64
data shape : (5,)
--------------------------------------------------
data :
 ['1' '2' '3' '4' '5']
type : <class 'numpy.ndarray'>
data type : <U11
data shape : (5,)
--------------------------------------------------

In [6]:
def make99(r = 2,c =  3):
    res = []
    for i in range(1, r + 2):
        sub = []
        for j in range(1, c + 2):
            r = i * j
            sub.append(r)
        res.append(sub)
        print(sub)
    return res
d2 = make99()

[1, 2, 3, 4]
[2, 4, 6, 8]
[3, 6, 9, 12]

In [7]:
print(type(d2), len(d2), len(d2[0]))

<class 'list'> 3 4

In [8]:
for i in np.arange(12):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11

In [9]:
# 갯수 지정을 통한 연속된 데이터 생성
nl12 = np.linspace(2, 2*12, 12)  # 시작, 끝, n분할
showData(nl12)

data :
 [ 2.  4.  6.  8. 10. 12. 14. 16. 18. 20. 22. 24.]
type : <class 'numpy.ndarray'>
data type : float64
data shape : (12,)
--------------------------------------------------

In [10]:
# 마지막 지정을 통한 연속된 데이터 생성
n12 = np.arange(2, 26, 2)  # arange(시작, 끝, 스텝)
showData(n12)

data :
 [ 2  4  6  8 10 12 14 16 18 20 22 24]
type : <class 'numpy.ndarray'>
data type : int32
data shape : (12,)
--------------------------------------------------

In [11]:
# 차원 변경
n34 = n12.reshape(3,4)
showData(n34)

data :
 [[ 2  4  6  8]
 [10 12 14 16]
 [18 20 22 24]]
type : <class 'numpy.ndarray'>
data type : int32
data shape : (3, 4)
--------------------------------------------------

In [12]:
# 특별한 형태의 배열
# 0행렬
nzero = np.zeros(4)
showData(nzero)
nzero1 = np.zeros((4, ))
showData(nzero1)
nzero2 = np.zeros((3, 3))
showData(nzero2)

data :
 [0. 0. 0. 0.]
type : <class 'numpy.ndarray'>
data type : float64
data shape : (4,)
--------------------------------------------------
data :
 [0. 0. 0. 0.]
type : <class 'numpy.ndarray'>
data type : float64
data shape : (4,)
--------------------------------------------------
data :
 [[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]
type : <class 'numpy.ndarray'>
data type : float64
data shape : (3, 3)
--------------------------------------------------

In [13]:
# 1행렬
np1 = np.ones(4)
showData(np1)
np11 = np.ones(4, )
showData(np11)
np12 = np.ones((4, 3))
showData(np12)

data :
 [1. 1. 1. 1.]
type : <class 'numpy.ndarray'>
data type : float64
data shape : (4,)
--------------------------------------------------
data :
 [1. 1. 1. 1.]
type : <class 'numpy.ndarray'>
data type : float64
data shape : (4,)
--------------------------------------------------
data :
 [[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]
type : <class 'numpy.ndarray'>
data type : float64
data shape : (4, 3)
--------------------------------------------------

In [14]:
# 대각 행렬 (대각선이 1로 이루어진 행렬) 대각 행렬의 위치 조정
ne4 = np.eye(5, k = -1)
showData(ne4)

data :
 [[0. 0. 0. 0. 0.]
 [1. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0.]
 [0. 0. 1. 0. 0.]
 [0. 0. 0. 1. 0.]]
type : <class 'numpy.ndarray'>
data type : float64
data shape : (5, 5)
--------------------------------------------------

In [15]:
# 단위 행렬
n34 = np.identity(4)
showData(n34)

data :
 [[1. 0. 0. 0.]
 [0. 1. 0. 0.]
 [0. 0. 1. 0.]
 [0. 0. 0. 1.]]
type : <class 'numpy.ndarray'>
data type : float64
data shape : (4, 4)
--------------------------------------------------

In [16]:
# 데이터 타입의 변환 astype
src = [1, '2', 3, 4, 5]
npa = np.array(src)
showData(npa)
npas = npa.astype('int32')
showData(npas)

data :
 ['1' '2' '3' '4' '5']
type : <class 'numpy.ndarray'>
data type : <U11
data shape : (5,)
--------------------------------------------------
data :
 [1 2 3 4 5]
type : <class 'numpy.ndarray'>
data type : int32
data shape : (5,)
--------------------------------------------------

In [17]:
# 메모이 초기화가 없는 빈 공간만 가지고 생성
e5 = np.empty(10)
showData(e5)

data :
 [1.22481494e-311 1.77863633e-322 0.00000000e+000 0.00000000e+000
 0.00000000e+000 3.31185900e-033 1.16189403e+165 6.86651276e-091
 1.65641483e-047 8.13990291e-315]
type : <class 'numpy.ndarray'>
data type : float64
data shape : (10,)
--------------------------------------------------

In [18]:
# 난수 생성
nr1 = np.random.rand(3, 3, 4)
showData(nr1)

data :
 [[[0.87672471 0.50856639 0.65507376 0.38453462]
  [0.15994912 0.89902013 0.04507182 0.32591995]
  [0.0784654  0.18201737 0.82506567 0.15652044]]

 [[0.12425622 0.70939903 0.91169157 0.66285095]
  [0.80219589 0.03381303 0.87720405 0.48404223]
  [0.71468974 0.00240219 0.75793645 0.01917486]]

 [[0.5790359  0.61964424 0.40721842 0.23128709]
  [0.46908987 0.52533118 0.39405278 0.66052376]
  [0.82797663 0.73150008 0.02904715 0.76027801]]]
type : <class 'numpy.ndarray'>
data type : float64
data shape : (3, 3, 4)
--------------------------------------------------

In [19]:
# 난수 생성 int
# randint(난수 생성 범위, 행렬 사이즈)
nr2 = np.random.randint(1, 9, size = (3, 4))
showData(nr2)

data :
 [[5 3 4 8]
 [7 8 3 2]
 [6 8 6 6]]
type : <class 'numpy.ndarray'>
data type : int32
data shape : (3, 4)
--------------------------------------------------

### 매트릭스/헹렬/배열/벡터 연산 <=> 스칼라
- 0차원 2 스칼라
- 1차원 이상 벡터, 행렬, 배열, 매트릭스
- 3차원 이상 텐서, 벡터

### 스칼라 연산
    - 4칙 연산 나머지 나누기 거듭제곱연산 +, -, *, /, //, %, **
### 벡터 연산
    - 합차

In [20]:
# 배열의 합차
n1 = np.arange(3)  # int
n2 = np.linspace(10, 12, 3)  # float
showData(n1)
showData(n2)
n3 = n1 + n2  # int + float = float
showData(n3)
n4 = n1 - n2  # int - float = float
showData(n4)

data :
 [0 1 2]
type : <class 'numpy.ndarray'>
data type : int32
data shape : (3,)
--------------------------------------------------
data :
 [10. 11. 12.]
type : <class 'numpy.ndarray'>
data type : float64
data shape : (3,)
--------------------------------------------------
data :
 [10. 12. 14.]
type : <class 'numpy.ndarray'>
data type : float64
data shape : (3,)
--------------------------------------------------
data :
 [-10. -10. -10.]
type : <class 'numpy.ndarray'>
data type : float64
data shape : (3,)
--------------------------------------------------

In [21]:
# 스칼라/배열의 곱
n5 = n1 * 2
showData(n5)  # int32
n6 = n1 * 2.
showData(n6)  # float64

data :
 [0 2 4]
type : <class 'numpy.ndarray'>
data type : int32
data shape : (3,)
--------------------------------------------------
data :
 [0. 2. 4.]
type : <class 'numpy.ndarray'>
data type : float64
data shape : (3,)
--------------------------------------------------

In [22]:
## 배열의 곱 - 같은 차수끼리 곱함
n7 = n1 * n2
showData(n7)

data :
 [ 0. 11. 24.]
type : <class 'numpy.ndarray'>
data type : float64
data shape : (3,)
--------------------------------------------------

In [23]:
## 배열의 스칼라 거듭제곱
n8 = n2 ** 2
showData(n8)
## 배열끼리의 거듭제곱 - 차수가 같아야 함 
n10 = n2 ** n1
showData(n10)

data :
 [100. 121. 144.]
type : <class 'numpy.ndarray'>
data type : float64
data shape : (3,)
--------------------------------------------------
data :
 [  1.  11. 144.]
type : <class 'numpy.ndarray'>
data type : float64
data shape : (3,)
--------------------------------------------------

In [24]:
## 배열의 스칼라 나눗셈 
n9 = n1 / n2
showData(n9)

data :
 [0.         0.09090909 0.16666667]
type : <class 'numpy.ndarray'>
data type : float64
data shape : (3,)
--------------------------------------------------

In [25]:
## 배열의 나머지 연산 - 0으로 나누지 않도록  주의할 것
n11 = n1 % n2
showData(n11)

data :
 [0. 1. 2.]
type : <class 'numpy.ndarray'>
data type : float64
data shape : (3,)
--------------------------------------------------

In [26]:
## 배열의 몫 연산 - 0으로 나누지 않도록  주의할 것
n12 = n10 // n2
showData(n12)

data :
 [ 0.  1. 12.]
type : <class 'numpy.ndarray'>
data type : float64
data shape : (3,)
--------------------------------------------------

In [27]:
# 기초 통계를 위한 연산
n1 = np.arange(5)
n1

array([0, 1, 2, 3, 4])

In [28]:
# 합
n1.sum()

10

In [29]:
# 평균
n1.mean()

2.0

In [30]:
# 최대
n1.max()

4

In [31]:
# 최소
n1.min()

0

In [32]:
# 분산
n1.var()

2.0

In [33]:
# 표준편차
n1.std()

1.4142135623730951

In [34]:
# 누적합
n1.cumsum()

array([ 0,  1,  3,  6, 10], dtype=int32)

In [35]:
# 누적곱
n1.cumprod()

array([0, 0, 0, 0, 0], dtype=int32)

### 대표값 : 데이터를 한마디로 나타낸다면?
* 총합, 최대, 최소, 평균, 분산, 표준편차
* 사분위수 : 100분으로 나누고 0, 25, 50, 75, 100번 째 숫자

In [36]:
n1 = np.array([1, 2, 3, 4, 5, 6, 100])
n2 = np.array([1, 2, 3, 4, 5, 6, 10])
# 평균의 차이
print(n1.mean() - n2.mean())
# 중앙값의 차이
print(np.median(n1) - np.median(n2))

12.857142857142856
0.0

In [37]:
# 사분위수 : 가장 심플하게 분포를 알아볼 수 있는 통계량
np.percentile(n1, [0, 25, 50, 75, 100])

array([  1. ,   2.5,   4. ,   5.5, 100. ])

In [38]:
np.percentile(n2, [0, 25, 50, 75, 100])

array([ 1. ,  2.5,  4. ,  5.5, 10. ])

In [39]:
# 행렬 연산(내적)
n1 = np.array([0, 1, 2, 3]).reshape((2, 2))
n2 = np.array([2, 3, 4, 5]).reshape((2, 2))
print(n1,'\n\n',n2)

[[0 1]
 [2 3]]

 [[2 3]
 [4 5]]

In [40]:
n4 = np.dot(n1, n2)
n4

array([[ 4,  5],
       [16, 21]])

In [41]:
# 교환 법칙이 성립 안함
n5 = n2.dot(n1)
n5

array([[ 6, 11],
       [10, 19]])

In [42]:
# 대각 행렬
neye = np.eye(2, 3, k = 1)
neye

array([[0., 1., 0.],
       [0., 0., 1.]])

In [43]:
# 단위 행렬
neye = np.identity(2)
neye

array([[1., 0.],
       [0., 1.]])

In [44]:
# 단위 행렬을 곱할 시 자기 자신이 나온다
ne = n1.dot(neye)
ne

array([[0., 1.],
       [2., 3.]])

In [45]:
a1 = [1, 2, 3]  # 문자로 바라보는 느낌
a2 = 3
print('리스트:', a1 * a2)  # 그냥 문자열 복사처럼 나옴

a3 = np.array([1, 2, 3])
print('numpy array:', a3 * a2)  # 각 인덱스마다 스칼라 곱
# 3 = ?[3, 3, 3]
a4 = np.array([3, 3, 3])
print('numpy array:', a3 * a4)  # 인덱스끼리의 곱

리스트: [1, 2, 3, 1, 2, 3, 1, 2, 3]
numpy array: [3 6 9]
numpy array: [3 6 9]

### 배열의 인덱싱
* 인덱스 : 0부터 시작하는 배열의 순서 번호
* 슬라이스 : 문자열 슬라이스와 유사

In [46]:
# 인덱싱
n1 = np.arange(12) * 2
print(n1, '\n', n1[1], '\n', n1[[1, 3, 5]])

[ 0  2  4  6  8 10 12 14 16 18 20 22]
 2
 [ 2  6 10]

In [47]:
n2 = np.arange(12).reshape(3, 4)
showData(n1)

data :
 [ 0  2  4  6  8 10 12 14 16 18 20 22]
type : <class 'numpy.ndarray'>
data type : int32
data shape : (12,)
--------------------------------------------------

In [48]:
# 행 호출
n2[0]

array([0, 1, 2, 3])

In [49]:
# 스칼라 호출
print(n2[1][1], n2[1][2])  # [row][column]

5 6

In [50]:
# 2차원 인덱싱
print(n2, '\n\n', n2[[1, 2]])

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]

 [[ 4  5  6  7]
 [ 8  9 10 11]]

In [51]:
print(n2, '\n\n', n2[[1, 2]], '\n\n', n2[[1, 2], 1], '\n\n', n2[[1, 2], [1, 2]])  # 인데스 세로만 뽑아내기 위해 1행의 1번째 인덱스와 2행의 2번째 인덱스의 값을 뽑아낸다.

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]

 [[ 4  5  6  7]
 [ 8  9 10 11]]

 [5 9]

 [ 5 10]

In [52]:
# 리스트 불린 => 그냥 그 자체가 참인지 거짓인지 확인
city = ['서울', '부산', '베이징']
city == '부산'

False

In [53]:
# array 불린 => 각 인덱스가 참인지 거짓인지 확인
ncity = np.array(['서울', '부산', '베이징'])
ncity == '부산'

array([False,  True, False])

In [54]:
ncity = np.array(['서울', '부산', '베이징'])
ncity == ['부산']

array([False,  True, False])

In [55]:
# shape mismatch => 배열의 사이즈가 맞아야 배열 연산 시 연산이 가능하다
# broadcast => 확장이 불가능하다
# 배열의 크기를 확인!!
# ncity == ['서울', '광주']

In [56]:
# 동일 배열 사이즈에 대한 불린 인덱스
ncity == ['서울', '광주', '베이징']

array([ True, False,  True])

In [57]:
# 배열의 슬라이싱
n1 = np.arange(1, 10)

In [58]:
print('원본:',n1)
print('인덱스:',n1[2])
print('인덱싱:',n1[[2, 4, 6]])
print('from 슬라이싱:',n1[2:], '인덱스~ 시작 포함')
print('to 슬라이싱:',n1[:2], '~인덱스 끝 불포함')
print('from to 슬라이싱:',n1[2:5],'인덱스~인덱스 끝 불포함')
#print('from to 슬라이싱:',n1[2, -2:],'인덱스~인덱스 끝 불포함')

원본: [1 2 3 4 5 6 7 8 9]
인덱스: 3
인덱싱: [3 5 7]
from 슬라이싱: [3 4 5 6 7 8 9] 인덱스~ 시작 포함
to 슬라이싱: [1 2] ~인덱스 끝 불포함
from to 슬라이싱: [3 4 5] 인덱스~인덱스 끝 불포함

In [59]:
# 브로드 캐스팅 스칼라 확장
n1 = np.arange(3)
n2 = n1 + 5
print('',n1,'\n',n2)

 [0 1 2]
 [5 6 7]

In [60]:
n1 = np.arange(3)
n2 = n1 + (5, 5, 5)
print('',n1,'\n',n2)

 [0 1 2]
 [5 6 7]

In [61]:
# 브로드 캐스팅 1차원 확장
n1 = np.arange(12).reshape(3, 4)
n2 = n1 + 5
print('',n1,'\n\n',n2)

 [[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]

 [[ 5  6  7  8]
 [ 9 10 11 12]
 [13 14 15 16]]

In [62]:
n1 = np.arange(12).reshape(3, 4)
n2 = np.arange(4)  # 열 개수에 맞춰야 브로드 캐스팅 가능 행렬로 생각하면 됨
n3 = n1 + n2
print('',n1,'\n\n',n2,'\n\n',n3)

 [[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]

 [0 1 2 3]

 [[ 0  2  4  6]
 [ 4  6  8 10]
 [ 8 10 12 14]]

In [80]:
n1 = np.arange(12).reshape(3, 4)
n2 = np.arange(3).reshape(3, 1)  # (1, 3)을 (3, 1)로 맞춰서 계산 진행. 변경하는 방법 reshape말고 없는가?
n3 = n1 + n2
print('',n1,'\n\n',n2,'\n\n',n3)

 [[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]

 [[0]
 [1]
 [2]]

 [[ 0  1  2  3]
 [ 5  6  7  8]
 [10 11 12 13]]

In [65]:
# 브로드 캐스팅 2차원
# 동일 차원이면 차수가 맞아야한다.
n1 = np.zeros(3)
n2 = np.arange(3)
n3 = n1 + n2
print('',n1,'\n\n',n2,'\n\n',n3)

 [0. 0. 0.]

 [0 1 2]

 [0. 1. 2.]

In [71]:
# 브로드 캐스팅 2차원
# 동일 차원이면 차수가 맞아야한다.
n1 = np.arange(3)
n2 = np.arange(4).reshape(4, 1)
n3 = n1 + n2
print('',n1,'\n\n',n2,'\n\n',n3)

 [0 1 2]

 [[0]
 [1]
 [2]
 [3]]

 [[0 1 2]
 [1 2 3]
 [2 3 4]
 [3 4 5]]

#### numpy 기본 내장 함수
- abs 
- sqrt
- square
- exp  #e 지수 log10
- sign
- ceil, floor, round
- sin, cos, tan .... 기타 수학 함수들

In [83]:
# abs : 절대값 표시
n1 = np.array([1, -1, 0, 5, -2, -3])
np.abs(n1)

array([1, 1, 0, 5, 2, 3])

In [88]:
# sqrt : 제곱근
n2 = np.array([4, 9, 16, 25, 36, 49])
np.sqrt(n2)

array([2., 3., 4., 5., 6., 7.])

In [89]:
# square : 제곱
n3 = np.array([4, 9, 16, 25, 36, 49])
np.square(n3)

array([  16,   81,  256,  625, 1296, 2401], dtype=int32)

In [96]:
# exp : 지수
np.exp(n2)

array([5.45981500e+01, 8.10308393e+03, 8.88611052e+06, 7.20048993e+10,
       4.31123155e+15, 1.90734657e+21])

In [98]:
# sign : 음수 or 양수
np.sign(n1)  # -1은 음수, 1은 양수, 0은 0

array([ 1, -1,  0,  1, -1, -1])

In [104]:
# ceil : 올림
# floor : 내림
# round : 반올림
f1 = np.array([1.1, -1.3, 2.4, -2.5, 3.0, -3.7, 6.0])
print(np.ceil(f1),'\n\n',np.floor(f1),'\n\n',np.round(f1))

[ 2. -1.  3. -2.  3. -3.  6.]

 [ 1. -2.  2. -3.  3. -4.  6.]

 [ 1. -1.  2. -2.  3. -4.  6.]